# 6. Librerias


## 6.1. Módulos y paquetes
En Python, cada uno de nuestros archivos **.py** se denominan **módulos**. Estos **módulos**, a la vez, pueden formar parte de **paquetes**. Un paquete, es una carpeta que contiene archivos **.py**

El contenido de cada **módulo**, podrá ser utilizado a la vez, por otros **módulos**. Para ello, es necesario importar los **módulos** que se quieran utilizar. Para importar un **módulo**, se utiliza la instrucción **import**, seguida del **nombre del paquete** (si aplica) más el **nombre del módulo** (sin el .py) que se desee importar.

        import modulo                             # importar un módulo que no pertenece a un paquete   
        import paquete.modulo1                    # importar un módulo que está dentro de un paquete  
        import paquete.subpaquete.modulo1
        
**Nota**:
Python tiene sus propios módulos, los cuales forman parte de su librería de módulos estándar, que también pueden ser importados.

### 6.1.1 Namespaces

Para acceder (desde el módulo donde se realizó la importación), a cualquier elemento del módulo importado, se realiza mediante **el namespace**, seguido de un punto (.) y el nombre del elemento que se desee obtener.   
En Python, **un namespace**, es el nombre que se ha indicado luego de la palabra import, es decir l**a ruta (namespace) del módulo**:


#### 6.1.1.1.  Alias

Es posible también,**abreviar los namespace**s mediante un alias. Para ello, durante la importación, se asigna la palabra clave **as** seguida del alias con el cuál nos referiremos en el futuro a ese namespace importado:

        import modulo as m  
        import paquete.modulo1 as pm  
        import paquete.subpaquete.modulo1 as psm  
        
**NOTA** : La función integrada **dir()** se usa para encontrar qué nombres define un módulo. Retorna una lista ordenada de cadenas:    

        dir(modulo1)
        dir()              #Sin argumentos,lista los nombres que tienes actualmente definidos:
  
    
    
..  

Importamos el módulo Math. Este es un módulo estándar de Python. Usemoslo un poco para ver cómo se utiliza un módulo. Una vez importado vamos a utilizar en este caso una función del módulo para calcular la raíz cuadrada de un número.

In [2]:
import math
dir(math)
#dir()

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [3]:
x = 25
y = math.sqrt(x)
print(y)

5.0

### 6.1.2. Búsqueda de un módulo por Python
SE escribe el nombre del módulo sin extensión o ruta completa y Python se encargará del resto.
Entonces, **¿en dónde Python hace la búsqueda de los módulos?**

- El directorio de inicio de tu programa.
- El directorio de variables de entorno PATH.
- Directorios de biblioteca estándar.
- Cualquier archivo .

La combinación de estos elementos se convierte en la lista sys.path.

En realidad, **sys.path** es la ruta donde Python busca módulos.
Puedes obtener la ruta de la siguiente forma:

In [4]:
import sys
print(sys.path)

['C:\\Users\\DELL\\Desktop\\Python\\1. Python Actuarial Vida\\Sesion 01', 'C:\\ProgramData\\Anaconda3\\python38.zip', 'C:\\ProgramData\\Anaconda3\\DLLs', 'C:\\ProgramData\\Anaconda3\\lib', 'C:\\ProgramData\\Anaconda3', '', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\DELL\\.ipython']

## 6.2. Librerias recomendadas

**Librerías de Python para Cálculo Numérico y Análisis de Datos**
- NumPy
- SciPy
- Pandas
- Numb
- Math
- Datatime

**Librerías de Python para Visualización**
- Matplotlib
- Seaborn
- Bokeh

####  a) Datatime 
La librería estándar de Python incluye varios módulos para tratar y manipular fechas, tiempo e intervalos, una vez importado el módulo se define un objeto específico que permite hacer operaciones con fechas y tiempo. El módulo principal es **datetime**, que permite trabajar con fechas y tiempo mientras que el módulo time, ofrece métodos avanzados para tiempo, ignorando la fecha.

In [2]:
import datetime

In [3]:
print("La fecha y hora actuales: " , datetime.datetime.now()  )# Devuelve un objeto datetime

La fecha y hora actuales:  2021-02-28 10:22:24.534053

In [5]:
print("Fecha y hora en string con formato: " , datetime.datetime.now().strftime("%Y-%m-%d %H:%M"))

print("Año actual: ", datetime.date.today().strftime("%Y"))
print("Mes del año: ", datetime.date.today().strftime("%B"))
print("Semana del año: ", datetime.date.today().strftime("%W"))
print("Número de día de la semana: ", datetime.date.today().strftime("%w"))
print("Día del año: ", datetime.date.today().strftime("%j"))
print("Día del mes: ", datetime.date.today().strftime("%d"))
print("Día día de la semana: ", datetime.date.today().strftime("%A"))

Fecha y hora en string con formato:  2021-02-28 10:24
Año actual:  2021
Mes del año:  February
Semana del año:  08
Número de día de la semana:  0
Día del año:  059
Día del mes:  28
Día día de la semana:  Sunday

In [6]:
import time

print("Segundos desde inicio de época: %s" %time.time())

# Para una fecha específica
fecha = datetime.date(2019, 10, 8)  #year, month, day
print(fecha.strftime("%A"))
print(fecha.strftime("%b %d %Y %H:%M:%S"))

Segundos desde inicio de época: 1614525858.8629942
Tuesday
Oct 08 2019 00:00:00

In [7]:
import numpy as np

fecha_calculo = datetime.date(2021, 2, 28) 
fecha_calculo1 = datetime.date(2019, 5, 28)

In [8]:
(fecha_calculo - fecha_calculo1)

datetime.timedelta(days=642)

In [11]:
(fecha_calculo - fecha_calculo1).days/365

1.7589041095890412

### 6.2.1. Instalación de módulos / paquetes

En caso no de no tener el paquete instalado en python, lo podemos instalar mediante:

buscamos en nuestro explorador de archivos : **Ananconda prompt**

y escribimos el codigo **conda install ...**  según cada libreria 
![Conda install](imagenes/4.Conda.png)

**Numerical Python:**

      conda install NumPy

**Python Data Analysis Library:**

        conda install pandas
        conda update pandas

**Matplotlib : Python 2D plotting library** 

        conda install matplotlib


### 6.2.2. Ejemplos / Numpy  - Pandas

Crear matrices de 3 filas, 5 columnas  
Crear matrices de valor 0 : 4 filas, 3 columnas  
Sumar los valores de la matriz (a)

In [14]:
import numpy as np

a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [15]:
np.zeros((3, 4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [16]:
print(np.sum(a))

105

Crear una serie usando numpy y pandas

In [17]:
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Crear un DataFrame con fehcas como index

In [18]:
dates = pd.date_range("20210201", periods=6)
dates

DatetimeIndex(['2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04',
               '2021-02-05', '2021-02-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2021-02-01  0.613251 -0.354587  2.294852 -0.231039
2021-02-02 -1.904790  2.053089 -0.301828  0.311835
2021-02-03 -0.905262  2.018636 -0.434886  0.597882
2021-02-04  0.417447  0.059644  2.422074  0.061048
2021-02-05 -0.882578 -1.282335 -0.791383 -0.482920
2021-02-06 -0.769054  0.520959  1.578344  0.427402

Creando un DataFrame pasando un dict de objetos que se pueden convertir a series.

In [22]:

df2 = pd.DataFrame({
   "A": 1.0,
   "B": pd.Timestamp("20130102"),
   "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   "D": np.array([3] * 4, dtype="int32"),
   "E": pd.Categorical(["test", "train", "test", "train"]),
   "F": "foo",
   })

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [24]:
dir(pd) # lista de operaciones disponibles que se pueden hacer con pandas

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

###  6.2.3. Operación de pandas para importar archivos, serán de mucha utilidad

Txt : **pd_read_table()**  

CSV : **pd.read_csv()**   

Excel : **pd.read_excel()**   

Stata : **pd.read_stata(** filepath_or_buffer , convert_dates =True, convert_categoricals =True, index_col None ,
convert_missing =False, preserve_dtypes =True, columns None , order_categoricals =True,...**)**    

SPSS: **pd.read_spss(** path: Union[ str , pathlib.Path ], usecols : Union[ str ], NoneType ]=None,
convert_categoricals : bool=True **)**  

Sas : **pd.read_sas(** filepath_or_buffer , format=None, index=None, encoding=None, chunksize =None,
iterator=False **)**  

SQL: **pd.read_sql(** sql, con, index_col=None, coerce_float=True, params=None, parse_dates=None,
columns=None, chunksize=None **)** // **pd.read_sql_query ()** // **pd.read_sql_table()**

In [25]:
import pandas as pd
da = pd.read_excel("life_table.xlsx")  #importamos una tabla de mortalidad ( está en la misma ruta que este notebook)

#### Edwin Fernandez - BLID
Python para Actuarios Vida

In [26]:
da

     age       qx      lx     ex   dx
0      0  0.00382  100000  77.95  382
1      1  0.00047   99618  77.25   47
2      2  0.00019   99572  76.28   19
3      3  0.00015   99552  75.30   15
4      4  0.00013   99538  74.31   13
..   ...      ...     ...    ...  ...
106  106  0.52076      15   1.38    8
107  107  0.53591       7   1.33    4
108  108  0.54984       3   1.29    2
109  109  0.56257       2   1.26    1
110  110  1.00000       1   1.24    1

[111 rows x 5 columns]